<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="/assets/style.css" />

        <title>EasyBlog Quick Start</title>
        <meta name="description" content="REPLACE ME!!!" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Rubik+Mono+One&display=swap"
            rel="stylesheet"
        />

        <style>
            #head {
                font-family: "Atkinson Hyperlegible", sans-serif;
                font-size: 1.5rem;
            }

            #head a {
                font-weight: 600;
                text-decoration: underline;
                color: var(--accent);
            }

            #header {
                margin: 2rem 0;
            }
        </style>
    </head>
    <body>
        <nav>
            <h1><a href="/">RVA Events</a></h1>
            <div id="links">
                <a href="/tags/art">ART</a>
                <a href="/tags/music">MUSIC</a>
                <a href="/tags/tech">TECH</a>
            </div>
        </nav>
        <main>
            <div id="head">
                <p>
                    RVA.Events is an event board for local events in (and
                    around) Richmond, VA. We spotlight art pop-ups, backyard
                    shows, tech meetups, and everything in between.
                    <a href="/mission"
                        >No algorithms, no ads, no pop-ups, just real stuff
                        worth attending.</a
                    >
                </p>
            </div>

            <div id="header">
                <h2>Events in the next 7 days</h2>
                <p>
                    Looking for something specific? Click "art", "music", or
                    "tech" to filter events.
                </p>
            </div>
            {{ range . }}
            <a href="{{ .Slug }}">
                <article>
                    <div id="info">
                        <span id="relative">TOMORROW @ 9am</span>
                        <span id="date">09/17/2025</span>
                    </div>
                    <p id="title">{{ .Title }}</p>
                    <p id="location">
                        FREE @ Dominion Energy Center — Downtown RVA
                    </p>
                    <p id="summary">{{ .Summary }}</p>
                </article>
            </a>
            {{ end }}
        </main>
    </body>
</html>
