<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="/assets/style.css" />
        <link rel="icon" type="image/x-icon" href="/assets/favicon.png" />
        <link rel="manifest" href="/manifest.webmanifest" />
        <title>RVA.Events: THE RVA Event Board</title>
        <meta
            name="description"
            content="RVA.Events is an event board for local events in (and around) Richmond, VA. We spotlight art pop-ups, backyard shows, tech meetups, and everything in between."
        />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Rubik+Mono+One&display=swap"
            rel="stylesheet"
        />

        <meta property="og:image" content="/assets/og-image.png" />

        <style>
            #head {
                font-family: "Atkinson Hyperlegible", sans-serif;
                font-size: 1.5rem;
            }

            #head a {
                font-weight: 600;
                text-decoration: underline;
                color: var(--accent);
            }

            #header {
                margin: 2rem 0;
            }
        </style>
    </head>
    <body>
        <nav>
            <h1><a href="/">RVA Events</a></h1>
            <div id="links">
                <a href="/tags/tech">TECH</a>
            </div>

            <a
                href="https://docs.google.com/forms/d/e/1FAIpQLScnScuyvW4yhTH0gDcfbFqmHrcdQasB_Q6Wn0YvU7yqcVV0yg/viewform"
            >
                <div id="contribute">
                    <p id="title">Are you an event organizer?</p>
                    <p>
                        Please consider adding your event to RVA.Events. It's
                        totally free, and I tried to make it simple. Click here
                        to submit.
                    </p>
                </div>
            </a>
        </nav>
        <main>
            <div id="head">
                <p>
                    RVA.Events is an event board for local events in (and
                    around) Richmond, VA. We spotlight art pop-ups, backyard
                    shows, tech meetups, and everything in between.
                    <a href="/mission"
                        >No algorithms, no ads, no pop-ups, just real stuff
                        worth attending.</a
                    >
                </p>
            </div>

            <div id="header">
                <h2>Events in the next 7 days</h2>
            </div>
            {{ range GetSoonEvents . }}
            <a href="{{ .Slug }}">
                <article>
                    <div id="info">
                        <span id="relative"
                            >{{ GetRelativeDate .RawMetadata }} @ {{ GetTime
                            .RawMetadata }}</span
                        >
                        <span id="date">{{ GetDate .RawMetadata }}</span>
                    </div>
                    <p id="title">{{ .Title }}</p>
                    <p id="location">
                        {{ GetPrice .RawMetadata }} @ {{ GetLocation
                        .RawMetadata }}
                    </p>
                    <p id="summary">{{ .Summary }}</p>
                </article>
            </a>
            {{ end }}
        </main>

        <footer>
            <p>Helpful Links</p>
            <a
                href="https://docs.google.com/forms/d/e/1FAIpQLScnScuyvW4yhTH0gDcfbFqmHrcdQasB_Q6Wn0YvU7yqcVV0yg/viewform"
                >Add an Event (it's free)</a
            >

            <a href="https://github.com/kvizdos/rva.events"
                >Contribute Code (MIT licensed)</a
            >
        </footer>
    </body>
</html>
