<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="/assets/style.css" />
        <link rel="stylesheet" href="/assets/post.css" />
        <link rel="manifest" href="/manifest.webmanifest" />

        <link rel="icon" type="image/x-icon" href="/assets/favicon.png">

        <meta property="og:title" content="{{.Title}}" />
        <meta property="og:type" content="article" />
        <meta property="og:image" content="/assets/og-image.png" />
        <meta property="og:site_name" content="RVA.Events" />
        <meta property="og:description" content="{{.Summary}}" />
        <meta name="description" content="{{.Summary}}" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Rubik+Mono+One&display=swap"
            rel="stylesheet"
        />
        <title>{{.Title}} - RVA.Events</title>
    </head>
    <body>
        <nav>
            <h1><a href="/">RVA Events</a></h1>
            <div id="links">
                <a href="/tags/tech" class="{{ if contains .Tags "Tech" }}active{{end}}">TECH</a>
            </div>

            <a
                href="https://docs.google.com/forms/d/e/1FAIpQLScnScuyvW4yhTH0gDcfbFqmHrcdQasB_Q6Wn0YvU7yqcVV0yg/viewform"
            >
                <div id="contribute" class="hidden">
                    <p id="title">Are you an event organizer?</p>
                    <p>
                        Please consider adding your event to RVA.Events. It's
                        totally free, and I tried to make it simple. Click here
                        to submit.
                    </p>
                </div>
            </a>
        </nav>
        <main>
            {{ if contains .Tags "Tech" }}
              <a href="/tags/tech">See All Tech Events</a>
            {{ end }}

            <h1>{{.Title}}</h1>

            <p>Hosted by {{ GetGroup .RawMetadata }}</p>

            {{.Body}}

            {{ if .RawMetadata.RSVP }}
                <a href="{{.RawMetadata.RSVP}}" target="_blank"><button>Count me in!</button></a>
                <p class="disclaimer">Opens external RSVP on {{ GetExternalURL .RawMetadata.RSVP }}</p>

                <div id="share">
                    <p>Share this Event</p>
                    <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ GetEventURL . }}" target="_blank">LinkedIn</a>
                    <a href="https://bsky.app/intent/compose?text={{ GetEventURL . }}" target="_blank">Bluesky</a>
                </div>
            {{ end }}

        </main>
        <footer>
            <p>Helpful Links</p>
            <a
                href="https://docs.google.com/forms/d/e/1FAIpQLScnScuyvW4yhTH0gDcfbFqmHrcdQasB_Q6Wn0YvU7yqcVV0yg/viewform"
                >Add an Event (it's free)</a
            >

            <a href="https://github.com/kvizdos/rva.events"
                >Contribute Code (MIT licensed)</a
            >
        </footer>
    </body>
</html>
