<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="/assets/style.css" />

        <title>EasyBlog Quick Start</title>
        <meta name="description" content="REPLACE ME!!!" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Rubik+Mono+One&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <nav>
            <h1><a href="/">RVA Events</a></h1>
            <div id="links">
                <a href="/tags/art" class="{{ if eq .Tag "Art" }}active{{end}}">ART</a>
                <a href="/tags/music" class="{{ if eq .Tag "Music" }}active{{end}}">MUSIC</a>
                <a href="/tags/tech" class="{{ if eq .Tag "Tech" }}active{{end}}">TECH</a>
            </div>
        </nav>
        <main>
            <div id="header">
                <h2>Upcoming {{.Tag}} Events in Richmond</h2>
            </div>

            {{ range .Posts }}
            <a href="{{ .Slug }}">
                <article>
                    <div id="info">
                        <span id="relative">TOMORROW @ 9am</span>
                        <span id="date">09/17/2025</span>
                    </div>
                    <p id="title">{{ .Title }}</p>
                    <p id="location">
                        COMING SOON
                    </p>
                    <p id="summary">
                        {{ .Summary }}
                    </p>
                </article>
            </a>
            {{ end }}
        </main>
    </body>
</html>
